.attribution {
    color: hsl(300, 69%, 71%);
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(100, 50%, 50%);
}

.accordionContent {
    margin: 0;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.4s ease;
    width: 100%;
}

.accordionContent.open {
    max-height: 1000px;
    opacity: 1;
}

.accordionHeader {
    cursor: pointer;
    display: grid;
    grid-template-columns: auto auto;
    max-width: 600px;
    width: 100%;
}

.accordionHeader:focus h2{
    color: hsl(300, 50%, 60%);
}

.accordionIcon {
    height: auto;
    width: 32px;
    display: flex;
    justify-content: flex-end;
}

.accordionIconContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.accordionText {
    max-height: 0;
    transition: max-height 0.4s ease;
}

.accordionText.open {
    max-height: 1000px;
}

.cardBox {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    margin: 160px 0;
    max-width: 600px;
    padding: 40px;
    width: 100%;
}

.cardBoxAccordion {
    max-width: 600px;
    width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    align-items: center;
    background-color: hsl(275, 100%, 97%);
    background-image: url('assets/images/background-pattern-desktop.svg');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    font-family: "Work Sans",sans-serif;
    justify-content: center;
    margin: 0 24px;

    @media (max-width: 450px) {
        background-image: url('assets/images/background-pattern-mobile.svg');
        background-size: 450px auto;
    }
}

header {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

h1 {
    color: hsl(292, 42%, 14%);
    font-size: 48px;
    margin: 0;

    @media (max-width: 450px) {
        font-size: 24px;
    }
}

h2 {
    color: hsl(292, 42%, 14%);
    font-size: 16px;
}

h2:hover {
    color: hsl(300, 50%, 60%);
}

header img {
    margin-right: 16px;
    width: 32px;

    @media (max-width: 450px) {
        width: 16px;
    }
}

hr {
    border: 0;
    background-color: hsl(0, 0%, 90%);
    height: 1px;
    margin: 12px 0;
    max-width: 520px;
    width: 100%;
}

p {
    color: hsl(0, 0%, 60%);
    letter-spacing: 1px;
    line-height: 150%;
    margin: 0;
    width: 100%;
}